<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Multicriteria Analysis</title>
</head>
<body>
<form method="post" th:object="${form}" th:action="@{/}">
    <p>Введите количество критериев <input  placeholder="количество критериев" th:field="*{criteriesCount}"></p>
    <p>Введите количество варинтов <input  placeholder="количество вариантов" th:field="*{optionCount}" ></p>
    <p><input type="submit" value="Далее" />
</form>
</body>
</html>