<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body>
<p>Hello</p>
<table border="1">
    <tr>
        <th>Название критерия</th>
        <th>Вес критерия</th>
    </tr>
    <tr th:each="critery, state: ${criteries}" >
        <td >
            <input  placeholder="введите название критерия" th:name="'criteryName' + ${state.index}" >
        </td>
        <td >
            <input  placeholder="введите вес критерия" th:name="'criteryWeight' + ${state.index}" >
        </td>
    </tr>
</table>
</body>
</html>